node_modules

/.cache
/build
.env
.env.*
.wrangler
.turbo
dist
build

.git
.gitignore

.vscode
.zed
.idea
*.swp
*.swo

*.test.js
*.test.ts

# TypeScript cache
*.tsbuildinfo
*storybook.log
.direnv
.react-router
.output
.astro
.vinxi
.DS_Store
