[data-theme="light"] {
  --surface-1: oklch(96% 0.0018 292.9);
  --surface-2: oklch(94.8% 0.0032 292.9);
  --surface-3: oklch(91.8% 0.0059 292.9);
  --surface-4: oklch(89.2% 0.0077 292.9);
  --surface-5: oklch(86.7% 0.01 292.9);
  --surface-6: oklch(84.2% 0.0115 292.9);
  --surface-7: oklch(80.7% 0.0141 292.9);
  --surface-8: oklch(74.6% 0.0191 292.9);
  --surface-9: oklch(59.7% 0.0193 292.9);
  --surface-10: oklch(56.1% 0.0183 292.9);
  --surface-11: oklch(45.8% 0.0158 292.9);
  --surface-12: oklch(24.5% 0.0132 292.9);

  --surface-contrast: #ffffff;
  --surface-surface: color(display-p3 1 1 1 / 80%);
  --surface-indicator: oklch(59.7% 0.0193 292.9);
  --surface-track: oklch(59.7% 0.0193 292.9);

  --accent-1: oklch(96.1% 0.0065 264.2);
  --accent-2: oklch(94.7% 0.0197 264.2);
  --accent-3: oklch(92.3% 0.0397 264.2);
  --accent-4: oklch(89.7% 0.0757 264.2);
  --accent-5: oklch(86.4% 0.1108 264.2);
  --accent-6: oklch(82% 0.1434 264.2);
  --accent-7: oklch(76.3% 0.1845 264.2);
  --accent-8: oklch(68.5% 0.252 264.2);
  --accent-9: oklch(31.8% 0.2094 264.2);
  --accent-10: oklch(39% 0.2094 264.2);
  --accent-11: oklch(50% 0.252 264.2);
  --accent-12: oklch(32.2% 0.2094 264.2);

  --accent-contrast: #fff;
  --accent-surface: color(display-p3 0.898 0.9216 0.9843 / 0.8);
  --accent-indicator: oklch(31.8% 0.2094 264.2);
  --accent-track: oklch(31.8% 0.2094 264.2);

  --destructive-1: oklch(96.1% 0.0031 23.03);
  --destructive-2: oklch(94.8% 0.0083 23.03);
  --destructive-3: oklch(91.9% 0.021 23.03);
  --destructive-4: oklch(88.8% 0.0472 23.03);
  --destructive-5: oklch(85.4% 0.0619 23.03);
  --destructive-6: oklch(81.3% 0.0746 23.03);
  --destructive-7: oklch(76.1% 0.0894 23.03);
  --destructive-8: oklch(69.7% 0.1132 23.03);
  --destructive-9: oklch(62.6% 0.1933 23.03);
  --destructive-10: oklch(58.4% 0.1951 23.03);
  --destructive-11: oklch(51.1% 0.1933 23.03);
  --destructive-12: oklch(33.9% 0.109 23.03);

  --destructive-contrast: #fff;
  --destructive-surface: color(display-p3 0.9451 0.9176 0.9137 / 0.8);
  --destructive-indicator: oklch(62.6% 0.1933 23.03);
  --destructive-track: oklch(62.6% 0.1933 23.03);
}

[data-theme="dark"] {
  --surface-1: oklch(17.8% 0.0042 277.7);
  --surface-2: oklch(21.5% 0.004 277.7);
  --surface-3: oklch(25.5% 0.0055 277.7);
  --surface-4: oklch(28.4% 0.0075 277.7);
  --surface-5: oklch(31.4% 0.0089 277.7);
  --surface-6: oklch(35% 0.01 277.7);
  --surface-7: oklch(40.2% 0.0121 277.7);
  --surface-8: oklch(49.2% 0.0157 277.7);
  --surface-9: oklch(54% 0.0167 277.7);
  --surface-10: oklch(58.6% 0.0165 277.7);
  --surface-11: oklch(77% 0.0138 277.7);
  --surface-12: oklch(94.9% 0.0026 277.7);

  --surface-contrast: #ffffff;
  --surface-surface: color(display-p3 0 0 0 / 5%);
  --surface-indicator: oklch(54% 0.0167 277.7);
  --surface-track: oklch(54% 0.0167 277.7);

  --accent-1: oklch(17.8% 0.0477 264.2);
  --accent-2: oklch(20.6% 0.0622 264.2);
  --accent-3: oklch(27.1% 0.145 264.2);
  --accent-4: oklch(31.8% 0.2094 264.2);
  --accent-5: oklch(35.9% 0.2273 264.2);
  --accent-6: oklch(40% 0.2346 264.2);
  --accent-7: oklch(44.9% 0.2529 264.2);
  --accent-8: oklch(50.6% 0.29 264.2);
  --accent-9: oklch(54.1% 0.3141 264.2);
  --accent-10: oklch(49.5% 0.29 264.2);
  --accent-11: oklch(77.6% 0.2706 264.2);
  --accent-12: oklch(91.3% 0.0883 264.2);

  --accent-contrast: #fff;
  --accent-surface: color(display-p3 0.0196 0.0941 0.3137 / 0.5);
  --accent-indicator: oklch(54.1% 0.3141 264.2);
  --accent-track: oklch(54.1% 0.3141 264.2);

  --destructive-1: oklch(17.8% 0.0133 23.03);
  --destructive-2: oklch(20.3% 0.0215 23.03);
  --destructive-3: oklch(25% 0.0642 23.03);
  --destructive-4: oklch(28.8% 0.0958 23.03);
  --destructive-5: oklch(33.1% 0.1065 23.03);
  --destructive-6: oklch(38.2% 0.1113 23.03);
  --destructive-7: oklch(45% 0.1205 23.03);
  --destructive-8: oklch(54.4% 0.1464 23.03);
  --destructive-9: oklch(62.6% 0.1933 23.03);
  --destructive-10: oklch(58.4% 0.1933 23.03);
  --destructive-11: oklch(78.4% 0.1617 23.03);
  --destructive-12: oklch(90.2% 0.0528 23.03);

  --destructive-contrast: #fff;
  --destructive-surface: #2f151380;
  --destructive-indicator: #e5484d;
  --destructive-track: #e5484d;
}
