:root {
	--timing-ease: cubic-bezier(0.42, 0, 1, 1);

	--transition-color:
		color 150ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
		text-decoration-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 150ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes smooth-down {
	from {
		max-height: 0;
		opacity: 0;
		transform: translateY(-4px);
	}
	to {
		max-height: var(--radix-collapsible-content-height);
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes smooth-up {
	from {
		max-height: var(--radix-collapsible-content-height);
		opacity: 1;
		transform: translateY(0);
	}
	to {
		max-height: 0;
		opacity: 0;
		transform: translateY(-4px);
	}
}
